extends ../shared/layout
block main-content
    h2.text-center Add comment
    form(method="post")
        label(for="name") Username
        input(id="name" class="form-control" type="text" name="name" placeholder="Username")
        br
        input(type="submit" class="btn btn-lg" value="Add")