<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDaysOfWeekService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65285/DaysOfWeekService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDaysOfWeekService"
                contract="DayOfWeekService.IDaysOfWeekService" name="BasicHttpBinding_IDaysOfWeekService" />
        </client>
    </system.serviceModel>
</configuration>