@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <article>
        <label>This is madness.</label>
        <p>Some content</p>
        @Html.Partial("_DetailsPartial")
    </article>
</section>


